{% extends 'base.html.twig' %}

{% block title %} Dodawanie opinii {% endblock %}
{% block contentTitle %} Dodaj opinię do wina {{ wino.nazwa }} {% endblock %}
{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Dodaj opinię"/>
    {{ form_end(form) }}<br/>

    <a class="btn btn-primary" href="{{ path('wino_show', {'id': wino.id } ) }}">Powrót</a>
{% endblock %}