{% extends 'base.html.twig' %}

{% block body %}
    <h1>Opinia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opinia.id }}</td>
            </tr>
            <tr>
                <th>Tresc</th>
                <td>{{ opinia.tresc }}</td>
            </tr>
            <tr>
                <th>Ocena</th>
                <td>{{ opinia.ocena }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opinia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('opinia_edit', { 'id': opinia.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
