{% extends 'base.html.twig' %}

{% block title %} Producenci {% endblock %}
{% block contentTitle %} Lista producentów {% endblock %}
{% block content %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Wyszukaj" />
    {{ form_end(form) }}<br/>
    <a class="btn btn-primary" href="{{ path('producent_index') }}">Pokaż wszystkich producentów</a><br/><br/>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Lokalizacja</th>
                <th>Ilość win</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for producer in producers %}
            {% if producer.wina |length != 0 %}
            <tr>
                <td>{{ producer.username }}</td>
                <td>{{ producer.address }}</td>
                <td>{{ producer.wina | length }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{{ path('producent_show', { 'id': producer.id }) }}">Więcej</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
