{% extends 'base.html.twig' %}

{% block title %} {{ user.username }} {% endblock %}
{% block contentTitle %} {{ user.username }} {% endblock %}
{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Lokalizacja</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ user.description }}</td>
            </tr>
        </tbody>
    </table><br/>
    
    <h3>Lista win użytkownika</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kolor</th>
                <th>Smak</th>
                <th>Rocznik</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for wino in user.wina %}
            <tr>
                <td>{{ wino.nazwa }}</td>
                <td>{{ wino.kolor }}</td>
                <td>{{ wino.smak }}</td>
                <td>{{ wino.rocznik }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{{ path('wino_show', { 'id': wino.id }) }}">Więcej</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('producent_index') }}">Lista wszystkich producentów</a>

{% endblock %}
