{% extends 'base.html.twig' %}

{% block title %}Edytuj wino{% endblock %}
{% block contentTitle %} Zmień dane {% endblock %}
{% block content %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Zapisz" />
    {{ form_end(edit_form) }}<br/>
    
    {{ form_start(delete_form) }}
        <input class="btn btn-primary" type="submit" value="Usuń"/>
    {{ form_end(delete_form) }}<br/>

    <a class="btn btn-primary" href="{{ path('wino_user') }}">Powrót do Twojej winnicy</a>

{% endblock %}
