{% extends 'base.html.twig' %}

{% block title %} Wina {% endblock %}
{% block contentTitle %}Lista win{% endblock %}    
{% block content %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Wyszukaj" />
    {{ form_end(form) }}<br/>
    
    <a class="btn btn-primary" href="{{ path('wino_index') }}">Pokaż wszystkie wina</a><br/><br/>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Producent</th>
                <th>Kolor</th>
                <th>Smak</th>
                <th>Rocznik</th>
                <th>Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for wino in wina %}
            <tr>
                <td>{{ wino.nazwa }}</td>
                <td>{{ wino.user.username }}</td>
                <td>{{ wino.kolor }}</td>
                <td>{{ wino.smak }}</td>
                <td>{{ wino.rocznik }}</td>
                <td>{{ wino.cena }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{{ path('wino_show', { 'id': wino.id }) }}">Więcej</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
