{% extends 'base.html.twig' %}

{% block title %} {{ wino.nazwa }} {% endblock %}
{% block contentTitle %} {{ wino.nazwa }} {% endblock %}
{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ wino.nazwa }}</td>
            </tr>
            <tr>
                <th>Producent</th>
                <td>{{ wino.user.username }}</td>
            </tr>
            <tr>
                <th>Kolor</th>
                <td>{{ wino.kolor }}</td>
            </tr>
            <tr>
                <th>Smak</th>
                <td>{{ wino.smak }}</td>
            </tr>
            <tr>
                <th>Rocznik</th>
                <td>{{ wino.rocznik }}</td>
            </tr>
            <tr>
                <th>Wyprodukowana ilość (litry)</th>
                <td>{{ wino.wyprodukowanaIlosc }}</td>
            </tr>
            <tr>
                <th>Dostępna ilość (litry)</th>
                <td>{{ wino.stan }}</td>
            </tr>
            <tr>
                <th>Cena (zł/litr)</th>
                <td>{{ wino.cena }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('wino_index') }}">Powrót do listy</a>
    
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if wino.user.id != app.user.id %}
            <a class="btn btn-primary" href="{{ path('wiadomosc_new', {'id': wino.user.id}) }}">Wyślij wiadomość</a>
        {% endif %}
    {% endif %}
    
    <a class="btn btn-primary" href="{{ path('producent_show', {'id': wino.user.id } ) }}">Pokaż producenta</a><br/><br/>
    
    <h3>Opinie</h3>
    {% if wino.opinie | length != 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Ocena</th>
                    <th>Opinia</th>
                </tr>
            </thead>
            <tbody>
            {% for opinia in wino.opinie %}
                <tr>
                    <td>{{ opinia.user.username }}</td>
                    <td>{{ opinia.ocena }}</td>
                    <td>{{ opinia.tresc }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    {% else %}
        <p>Nie dodano jeszcze żadnej opinii.</p>
    {% endif %}
       
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if wino.user.id != app.user.id %}
            <a class="btn btn-primary" href="{{ path('opinia_new', { 'id': wino.id } ) }}">Dodaj opinię</a>
        {% endif %}
    {% endif %}

{% endblock %}
