{% extends 'base.html.twig' %}

{% block title %}Twoja winnica{% endblock %}
{% block contentTitle %} Twoje winnica {% endblock %}
{% block content %}

    <table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kolor</th>
            <th>Smak</th>
            <th>Rocznik</th>
            <th>Cena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for wino in wina %}
        <tr>
            <td>{{ wino.nazwa }}</td>
            <td>{{ wino.kolor }}</td>
            <td>{{ wino.smak }}</td>
            <td>{{ wino.rocznik }}</td>
            <td>{{ wino.cena }}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="{{ path('wino_edit', { 'id': wino.id }) }}">Edytuj/Usuń</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
        
        <a class="btn btn-primary btn-sm" href="{{ path('wino_new') }}">Dodaj wino</a>
        
    
    
{% endblock %}
